@charset "utf-8";
/* CSS Document */

body,td,th,p{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: #333;
	line-height: 1.5;
}
body {
	background-color: #fdfdfd;
	margin: 0;
	position:relative;
}
ul, li {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: #333;
}
a {
  color: #252831;
	text-decoration: none;
}
a:hover, a:focus {
	color: #3397db;
	text-decoration: none;
}
a img{
	border: none 0px #fff;
}
h1, h2, h3, h4, h5, h6 {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 0 20px;
}
article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
#maincontent {
  background-color: #f3f3f3;
  min-height: 100%;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
#footer {
  background-color: #444;
  color: #aaa;
  font-size: 8pt;
  letter-spacing: 1px;
  padding: 25px;
  text-align: center;
  text-transform: uppercase;
}
/* ====================== Navigation ====================== */
nav {
  width: 100%;
  height: 80px;
  background-color: #252831;
  text-align:center;
}
nav h1 {
  margin: auto;
  padding: 20px;
}
nav h1 a {
  color: #fff;
  font-size: 14pt;
  font-weight: 200;
  letter-spacing: 10px;
  text-transform: uppercase;
}
#breadcrumb {
    padding: 10px 40px 16px;
    list-style: none;
    background-color: #eee;
    font-size: 17px;
    margin: 0;
    width: calc(50% - 80px);
}

/* Display list items side by side */
#breadcrumb li {
    display: inline;
}

/* Add a slash symbol (/) before/behind each list item */
#breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
}

/* Add a color to all links inside the list */
#breadcrumb li a {
    color: #0275d8;
    text-decoration: none;
}

/* Add a color on mouse-over */
#breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
}
/* ====================== Map ====================== */
#map {
  height: 400px;
  width: 100%;
  background-color: #ccc;
  z-index: 1;
}
/* ====================== Restaurant Filtering ====================== */
.filter-options {
  width: 100%;
  height: 50px;
  background-color: #3397DB;
  align-items: center;
  text-align: center;
  display: table;
  padding: 20px;
  box-sizing: border-box;

}
.filter-options h2 {
  color: white;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1;
  margin: 0 20px;
}
.filter-options select {
  background-color: white;
  border: 1px solid #fff;
  font-family: Arial,sans-serif;
  font-size: 11pt;
  height: 35px;
  letter-spacing: 0;
  margin: 10px;
  padding: 0 10px;
  width: 200px;
}

/* ====================== Restaurant Listing ====================== */
#restaurants-list {
  background-color: #f3f3f3;
  list-style: outside none none;
  margin: 0;
  padding: 30px 15px 60px;
  text-align: center;
  display: flex;
 flex-wrap: wrap;
}
#restaurants-list li {
  background-color: #fff;
  border: 2px solid #ccc;
  font-family: Arial,sans-serif;
  margin: auto;
  margin-bottom: 1em;
  min-height: 380px;
  padding: 0 30px 25px;
  text-align: left;
  width: 270px;
  border-radius: 10px;
}
#restaurants-list .restaurant-img {
  background-color: #ccc;
  display: block;
  margin-top: 15px;
  max-width: 100%;
  min-height: 248px;
  min-width: 100%;
  border-radius: 1em;
}
#restaurants-list li h1 {
  color: #f18200;
  font-family: Arial,sans-serif;
  font-size: 14pt;
  font-weight: 200;
  letter-spacing: 0;
  line-height: 1.3;
  margin: 20px 0 10px;
  text-transform: uppercase;
}
#restaurants-list p {
  margin: 0;
  font-size: 11pt;
}
#restaurants-list li a {
  background-color: orange;
  border-bottom: 3px solid #eee;
  color: #fff;
  display: inline-block;
  font-size: 10pt;
  margin: 15px 0 0;
  padding: 8px 30px 10px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 12px;
}

/* ====================== Restaurant Details ====================== */
.inside header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}
.inside #map-container {
  background: blue none repeat scroll 0 0;
  height: 87%;
  position: fixed;
  right: 0;
  top: 80px;
  width: 50%;
}
.inside #map {
  background-color: #ccc;
  height: 100%;
  width: 100%;
}
.inside #footer {
  bottom: 0;
  position: absolute;
  width: 100%;
}
#restaurant-name {
  color: #f18200;
  font-family: Arial,sans-serif;
  font-size: 20pt;
  font-weight: 200;
  letter-spacing: 0;
  margin-top: 15px;
  text-transform: uppercase;
  line-height: 1.1;
}
#restaurant-img {
  width: 90%;
  border-radius: 15px 15px 0 0;
}
#restaurant-address {
  font-size: 12pt;
  text-align: center;
}
#restaurant-cuisine {
  background-color: #333;
  color: #ddd;
  font-size: 12pt;
  font-weight: 300;
  letter-spacing: 10px;
  margin: 0 0 20px;
  padding: 2px 0;
  text-align: center;
  text-transform: uppercase;
	width: 90%;
}
#restaurant-container, #reviews-container {
  border-bottom: 1px solid #d9d9d9;
  border-top: 1px solid #fff;
  padding: 140px 40px 30px;
  width: 50%;
}
#reviews-container {
  padding: 0;
}
#reviews-container h2 {
  color: #f58500;
  font-size: 24pt;
  font-weight: 300;
  letter-spacing: -1px;
  padding-bottom: 1pt;
  margin-left: 1em;
}
#reviews-list {
  margin-bottom: 5em;
  padding: 10px;
}
#reviews-list li {
  background-color: #fff;
  border: 2px solid #f3f3f3;
  display: block;
  list-style-type: none;
  margin: 0 10px 30px;
  overflow: hidden;
  padding: 0 10px 10px;
  position: relative;
  border-radius: 0 15px 30px 30px;
}
#reviews-list li p {
  margin: 10px 10px 10px;
  display: inline-block;
}
#restaurant-hours td {
  color: #666;
  margin: auto;
 padding: 5px;
 border: 5px;
 background: #ccc;
 border-radius: 3px;
 text-align: center;
}

/* ====================== extra classes  ====================== */
#reviews-list li .header {
  color: #fff;
  background-color: #252831;
  /* padding: 5px; */
}
#reviews-list li .name {
  font-weight: bold;
  font-size: 15px;
  color: #fff;
  margin-left: 0.5em;
  padding: 5px;
  font-weight: bold;
}
#reviews-list li .date {
  color: #ccc;
  float: right;
  margin-right: 1em;
  padding: 5px 0 5px;
  padding-left: 0;
  margin-top: 1em;
}
#reviews-list li .rating {
  padding: 2px;
  display: block;
  background-color: #FF8C00;
  color: #fff;
  width: 80px;
  border-radius: 3px;
  text-align: center;
  margin: 10px;
}
#reviews-list li .comments {
  margin-left: 1em;
  padding: 10px;
}
.getReviews,
.getWorktime {
  color: #f3f3f3;
}
.checked {
  color: orange;
}
.container-res {
  display: table;
}
/* ====================== Media Queries ====================== */

@media screen and (max-width: 700px) {
  header {
    position: unset;
    top: auto;
    width: auto;
    z-index: auto;
  }
  #restaurant-name {
    font-size: 14pt;
  }
  #restaurant-container {
    padding-left: 15px;
  }
  #restaurant-address {
    font-size: 10pt;
    text-align: left;
  }
  #restaurant-hours {
    border-radius: 18px;
  }
}
@media screen and (min-width: 701px ) and (max-width: 1023px) {
  
  #footer {
    bottom: auto;
    position: unset;
    width: auto;
  }
  #restaurant-hours {
    width: 90%;
    margin-left: -10px;
  }
  #restaurant-hours td {
    font-weight: bold;
  }
  #reviews-list li .comments {
    margin-left: 1em;
    padding: 0.5em;
  }
  #restaurant-img {
    width: 100%;
  }
}

@media screen and (min-width: 1024px) {
  /* #restaurants-list li:hover {
    position: relative;
     top: -5px;
     border-color: orange;
  } */
  
  #restaurant-name {
    width: 100%;
  }
  #restaurant-img {
    margin: 1em;
    margin-bottom: 0;
    margin-left: 0;
  }
  #restaurant-cuisine {
    margin-bottom: 0;
  }
  #restaurant-address{
    width: 100%;
    margin: 1em;
    margin-top: 5px;

  }
  #restaurant-hours {
    width: 90%;
    margin-top: 1em;
  }
  #restaurant-container {
    display: flex;
    flex-wrap: wrap;
  }
  #restaurants-list a:hover {
      background-color: #FF8C00;
      color: #fff;
      animation-name: animation_anchor;
      animation-duration: 0.5s;
  }

  /* Animation for anchor */
  @keyframes animation_anchor {
      50% {
          transform: scale(1.25);
      }
  }
}
